<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>ExperienceIn</title>
</head>
<body>
	<h1>Bem-vindo ao Experiencein</h1>
</body>
</html>
<!-- {% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>ExperienceIn</title>
        <link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "styles/main.css" %}" rel="stylesheet">
    </head>
    <body>
        <h1>Index</h1>
        <h1>Bem-vindo ao Experiencein</h1>
    </body>
</html>-->